# ##############################################################################
# Mount Check Variables
# ##############################################################################

# The parent directory on the host where your external drive is mounted.
# Example: If mounted at /media/username/my-drive-name, the parent is /media/username
EXTERNAL_MOUNT_PARENT=/media/username

# The folder/label name of your mounted external hard drive.
# Example: If mounted at /media/username/my-drive-name, the name is my-drive-name
EXTERNAL_MOUNT_NAME=my-drive-name

# ##############################################################################
# Immich Core Variables
# ##############################################################################

# The path where your immich library / uploads will be stored.
# If this is on the external drive: /media/username/my-drive-name/immich/upload
# If this is on the OS SSD: /home/username/immich/upload
UPLOAD_LOCATION=/media/username/my-drive-name/immich/upload

# The path where the Postgres database files will be stored.
# If this is on the external drive: /media/username/my-drive-name/immich/postgres
# If this is on the OS SSD: /home/username/immich/postgres
DB_DATA_LOCATION=/home/username/immich/postgres

# The version of Immich to deploy
IMMICH_VERSION=release

# PostgreSQL Database Configuration
DB_PASSWORD=your_secure_db_password_here
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
